<!DOCTYPE html>
<html>
<head>
<style>
div {background-image: url("https://i.insider.com/61969ba3a2e68800198aeade?width=1136&format=jpeg"); background-size: cover; font-size: 20px;}
h1 {text-align: center;text-shadow: 2px 2px #000000;}
h1 span {color: rgb(0, 0, 0); background-color: rgb(231, 255, 171); outline: 1px solid black;}
h4 {text-align: center; text-shadow: 2px 2px #000000;}
h4 span {color: rgb(0, 0, 0); background-color: rgb(179, 255, 159);outline: 1px solid black;}
form {text-align: center; text-shadow: 2px 2px #000000;}

</style>
</head>
<body>
<div>
<h1><span>New Form Submission!!</span></h1>
<br>
<h4><span>User Name:<%= userName %></span></h4>
<h4><span>Email: <%= email %></span></h4>
<h4><span>Phone Name: <%= phone %></span></h4>
</div>
</body>
</html>